
.wrap{
	/*max-width:1080px;*/
	/*height: 300px;*/
	margin: 0 auto;
	padding-top: 1px;
	background: #FFFFFF;
	/*background-image: url(../images/timg5.jpg);
	background-repeat: no-repeat;
	background-origin: content-box;
		background-size:cover;*/
}

h4{
	font-weight: 400;
	font-family: "微软雅黑";
	font-size: 16px;
	letter-spacing: 1px;
	color: #666666;
	/*color: whitesmoke;*/
}

.mui-slider{
	width: 90%;
	height: 160px;
	border-radius: 5px;
	margin: 20px auto;
	/*background: #f85415;*/
}

.mui-slider-item{
	/*width: 50%;*/
	/*height: 160px;*/
	border-radius: 10px;
	/*background: darkgoldenrod;*/
	margin-left: 10px;
}*/
.mui-slider-item>img{
	width: 100%;
	border-radius: 10px;
	/*height: 160px;*/
}

/*首要推荐*/
.shoutui{
	width: 90%;
	height: 90px;
	background: #f3f5f7;
	margin: 0 auto;
	border-radius: 10px;
	
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.shoutui>div{
	width: 90px;
	/*height: 65px;*/
	/*border:1px solid  #DD524D;*/
	
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	
	
}
.shoutui>div>i{
	font-size: 28px;
}
.shoutui>div>span{
	font-size: 12px;
	 font-family: "微软雅黑";
	 color: #666666;
	 letter-spacing: 2px;
}


/*新的课程*/
.newclass{
	width: 90%;
	/*height: 150px;*/
	height: auto;
	padding: 10px 5px 20px;
background: #f3f5f7;
	margin: 20px auto;
	border-radius: 10px;
}

.newclass>div{
	width: 98%;
	height: 130px;
	background:white;
	margin: 10px auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 10px 5px;
	border-radius: 2px;
}
.newclass>div>div{
	/*width: 130px;*/
	height: 100%;
	background: #F3F5F7;
	border-radius: 10px;
	
}
.newclass>div:first-child{
	width: 98%;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: space-between
	

}
.newclass>div:first-child>i{
	font-size: 20px;
}


/*推荐*/
.tuijian{
	
	width: 90%;
	height: 150px;
	background: #F3F5F7;
	margin: 20px auto;
	padding: 10px;
	padding-bottom: 180px;
	border-radius: 5px;
}

.swiper-wrapper>div{
	width: 100px;
	height: 120px;
	background: #FFFFFF;
	margin-top: 15px;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}



.ffff{
	width: 90%;
	height: 50px;
	margin: 0 auto;
}
