html{
    background: #f0eff4;
};

.box{
    width: 95%;
//  height: 1500px;
    background: #fdfafc;
//  background: salmon;
    border-radius: 5px;
    padding: 0px 3px;
    padding-bottom: 15px;
    margin: 20px auto;
    margin-top: 0;
    
    
   
   
   .grid{
       width: 95%;
       height: auto;
       padding-bottom: 10px;
//    background: saddlebrown;
       margin:  0 auto;
       
       div{
           width: 100%;
//         height: 200px;
//         background: #FFFFFF;

           display: flex;
            justify-content: space-around;
            
            align-items: center;
            margin-bottom: 6px;
            
            
            div{
                width: 45%;
                height: 180px;
//              background: saddlebrown;
                position: relative;
                
               img{
                width: 100%;
                height: 100%;
                 border-radius: 5px;
               }
               
               p{
                   position: absolute;
                   bottom: -10px;
                   right: 0px;
                   width: 100%;
                   height: 30px;
                   background:linear-gradient(to right, rgba(0,0,0,.2), transparent,transparent);
                   display: flex;
                   align-items: center;
                   justify-content: space-between;
                   padding: 0 5px;
                   span{
                       color: #FFFFFF;                      
                       font-size: 12px;
                   }
                   
                   img{
                       width: 30px;
                       height: 30px;
                       margin-bottom: 10px;
                   }
               }
            }
       }
   }
  
}
